{% extends "base.html" %}
{% load i18n %}
{% load bootstrap3 %}

{% block title %}{% trans "Log in" %}{% endblock %}

{% block content %}
    <form method="post" action="" style="text-align: center; margin-top: 100px">
        {% csrf_token %}
        {#    {{ form.as_p }}#}


        </div>
        <div class="col-xs-2"></div>
        <div class="col-xs-8" style="text-align: center; margin-bottom: 40px;">
            <h1><b>TIMETRACKERAPP</b></h1>
            <br>
            <h2>Witaj w systemie rejestracji czasu pracy dla Twojej firmy.</h2>
            <h3>Zaloguj się używając swojej nazwy użytkownika oraz hasła, <br>które otrzymałeś na adres e-mail.</h3>
            <br>
        </div>
        <br>
        <div class="col-xs-4"></div>
        <div class="col-xs-4">
            {% bootstrap_form form %}
            <input type="submit" class="form-control btn-success" value="{% trans 'Log in' %}"/>
            <input type="hidden" class="form-control " name="next" value="{{ next }}"/>
        </div>
    </form>

{% endblock %}


{% comment %}
**registration/login.html**

It's your responsibility to provide the login form in a template called
registration/login.html by default. This template gets passed four
template context variables:

``form``
    A Form object representing the login form. See the forms
    documentation for more on Form objects.

``next``
    The URL to redirect to after successful login. This may contain a
    query string, too.

``site``
    The current Site, according to the SITE_ID setting. If you don't
    have the site framework installed, this will be set to an instance
    of RequestSite, which derives the site name and domain from the
    current HttpRequest.

``site_name``
    An alias for site.name. If you don't have the site framework
    installed, this will be set to the value of
    request.META['SERVER_NAME']. For more on sites, see The
    "sites" framework.
{% endcomment %}